/.idea
/assets/*
!/assets/.gitkeep


/uploaded/*
!/uploaded/landing-page
/uploaded/landing-page/*
/uploaded/map-img/*
!/uploaded/map-img
/uploaded/profile-images/*
!/uploaded/profile-images
!/uploaded/top-destination-image
/uploaded/top-destination-image/*


/protected/runtime/gii*
/protected/runtime/*.log
/protected/runtime/*.php
/protected/runtime/*.png
/protected/runtime/*.jpg
/protected/runtime/downloads/flipkey/property_list/*
/protected/runtime/downloads/flipkey/location_list/*
!/protected/runtime/.gitkeep


/css/default/*.db



/map-img



/images/*.db

/sitemap/gz/*
/sitemap/xml/*

!/sitemap/xml/index.php
!/sitemap/gz/index.php
!/sitemap/index.php
/robots.txt


/.elasticbeanstalk
AWSDevTools-RepositorySetup.bat

/protected/extensions/filecache
/sitemap
/protected/runtime/downloads/flipkey/*.gz

/protected/runtime/downloads/flipkey/property_list-2/*.xml

/protected/runtime/downloads/flipkey/property_list-2/*.gz

/protected/runtime/downloads/interhome/*.xml
/protected/runtime/downloads
/protected/extensions/minScript
/*.bat
/uploaded/map-img
/uploaded/category-image


.elasticbeanstalk/

/nbproject/
/nbproject/private
/protected/config/DBConfig.php
/protected/config/SolrServerConfig.php

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/minify/js-compress.bat
/minify/css-compress.bat
/*.sublime-project
/*.sublime-workspace
/protected/runtime/cache
/kickstart-local.sh
