
div.dataTables_length select {
	width: 75px;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

.dataTables_filter .input-xs {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
}

.dataTables_wrapper {
	position: relative;
	clear: both;
}

.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	//border: 1px solid #ddd;
	text-align: center;
	color: #999;
	font-size: 0px;
	padding: 2px 0;
	background: url('../media/images/wheel.gif') no-repeat;
}


table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}
 
table.table thead .sorting { background: url('../media/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../media/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../media/images/sort_desc.png') no-repeat center right; }
 
table.table thead .sorting_asc_disabled { background: url('../media/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../media/images/sort_desc_disabled.png') no-repeat center right; }

@media print {
body { font-size:12px; }
.container { margin:0; padding:0 !important; }
.table th:last-child, .table td:last-child, #footer, .navbar, .introtext, #fileData_wrapper .text-center, #fileData_length, #fileData_filter, #fileData_wrapper .dataTables_paginate, .btn  { display: none; }
a:after { display: none; }
.span6, #fileData_info { width:100% !important; text-align:center; }
}